.news-scroll::-webkit-scrollbar{
    height:8px;
}

.news-scroll::-webkit-scrollbar-thumb{
    background:#d8a7c9;
    border-radius:20px;
}

.news-scroll .card{
    transition:.3s;
    border-radius:15px;
}

.news-scroll .card:hover{
    transform:translateY(-8px);
}

.card-body {
  background-color: #fceaf4;
}
h2 {
  text-align: center;
  padding: 10px;
  color: rgb(207, 168, 254);
}
.card-img-top{
    height: 300px;
    object-fit: contain;
   background-color: white;
    transition: 0.5s;
    transform-origin: center;
}

.card {
  box-shadow: 0 0 8px rgba(229, 57, 53, 0.25);
      transition:.3s;
    border-radius:15px;
    overflow:hidden;
}
.card:hover {
  border-color: #dea7f4;
  box-shadow: 0 0 12px rgba(231, 137, 252, 0.35);
  
    transform:translateY(-6px);

}
.card-title,
.card-text {
  color: #222121;
}
button {
  background-color: rgb(207, 168, 254);
  color: white;
  border: none;
  transition: 0.5s;
}
:host{
    display: block;
    background-color:#faebf8 ;
}