:host{
    box-shadow: 1px 1px 5px 1px gray;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000 !important;
}
.navbar-brand{
    color:rgb(184, 130, 250) ;
}
h3{
    font-family:monospace;
}
h3:hover{
transform: scale(1.2);
}
.nav-link:hover{
color: rgb(207, 168, 254) !important;
}
.nav-link::after{
    content: "";
position: absolute;
top: 30px;
left: 0;
height: 2px;
width: 0;
transition:0.5s;
background-color:rgb(207, 168, 254) ;
}
.nav-link:hover::after{
    width: 90%;
    transform: scale(1.2);
}

#login_button{
    border: none;
    background-color:rgb(207, 168, 254) ;
    padding: 0 10px !important;
    color:white;
}
#login_button:hover{
    background-color:rgb(189, 138, 252) ;
    transform: scale(1.1);
}