h2{
     color: rgb(59, 59, 59);
     padding: 13px;
}
.card-body{
    background-color: rgb(227, 213, 246);
}

/* h3 {
  margin: 20px;
  font-weight: bold;
}

.table-responsive {
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

table {
  margin-bottom: 0;
  background-color: #fff;
}

thead {
  background-color: #212529;
  color: white;
}

th,
td {
  padding: 14px;
  vertical-align: middle;
}

tbody tr:hover {
  background-color: #f8f9fa;
}

.badge {
  font-size: 14px;
  padding: 8px 12px;
} */